body{
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#MainNavBar .navbar-brand{
  color: #EA1C2C;
  font-size: 1.5rem;
  font-weight: 100;
}

#MainNavBar .nav-link{
  color: white;
}

#MainNavBar .nav-link:hover{
  color: #EA1C2C;
}
#MainNavBar{
  font-size: 1.5rem;
  font-weight: 100;
}
#Museumid span{
  color: #EA1C2C;
}

#Museumid h1{
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  #Museumid h1{
    font-weight: 100;
    font-size: 3rem;
  }
}

#MuseumMilk h1{
  color: #EA1C2C;
  font-weight: 100;
}

#MuseumMilk p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
  }
